[user]
	name = Mohit Thatte
	email = mohit.thatte@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = mate -w
	excludesfile = /Users/mohit/.gitignore
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	
